<script src="js/addRecipe.js"></script>

<div>
  <br>
  <br>
  <br>
  <h5>Add new recipe{{foo}}</h5>

  <!--TODO: MOVE SOMEWHERE ELSE (maybe a template) -->
  <table id="addNewIngredientTemplate" style="display:none">
  <tr >
    <td>
      <select  name="ingredient_ids">
        {{#each ingredients}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </td>
    <td>
      <label for="ingredient_quantities" class="nomargin">Quantity:
        <input type="text" name="ingredient_quantities">
      </label>
    </td>
    <td>
      <button type="button" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode)">Delete</button>
    </td>
  </tr>  
  </table>
  <!--/TODO-->

  <form action="/addRecipe" method="POST">
    <label for="title">Title:
      <input type="text" name="title">
    </label>
    <br>
    <label for="category">Category:
      <select name="category">
        <option value="sweet">Sweet</option>
        <option value="savoury">Savoury</option>
      </select>
    </label>
    <br>
    <label for="link">Link:
      <input type="text" name="link">
    </label>
    <br>
    <label for="notes">Notes:
      <input type="text" name="notes">
    </label>
    <br>
    <h6>Ingredients:</h6>
    <br>
    <table id="myTable">      
    </table>
    <button type="button" onclick="addIngredientToRecipe(event)">Add Ingredient</button>
    <br>
    <button type="submit">Save</button>
  </form>
</div>