<div class="jumbotron home">
    <div class="container main">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h1 class="font-weight-light"><u>Recipes List</u></h1>
                <ul>
                    {{#each recipes}}
                    <a href='/recipe/{{id}}'>
                        <li>{{title}}</li>
                    </a>
                    {{/each}}
                </ul>
                <p class="lead"></p>
                <p class="lead"></p>
                <div style="height: 700px"></div>
                <p class="lead mb-0"></p>
            </div>
        </div>
    </div>
</div>