<!DOCTYPE html>
<html>

<head>
  <title>Recipe</title>
</head>

<body>
<h1>Title:</h1>
<ul>
    <li>Category: </li>
    <li>Ingredients: </li>
    <li>Link to original recipe:</li>
    <li>Notes: </li>
</ul>

</body>
</html>