{{!-- {{#each ingredients}}
<ul>
    <li>{{this.name}}</li>
</ul>
{{/each}} --}}
<div class="jumbotron searchByIngredient">
    <div class="container main">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5 recipe-container">
                <select name="form-control">
                    {{#each ingredients}}
                    <option value="{{this}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
</div>