
* {
    box-sizing: border-box;
}

html,
body {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

div.jumbotron {
    background-image: url('/images/Home_Background.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height:100%;
    margin-bottom: 0;
   }

   .jumbotron,
   .navbar {
       font-family: 'Handlee', cursive;
   }

   div.container.main {
      padding: 50px 100px;
   }

   div.card-body.p-5 {
       background-image: url('/images/paper_texture.jpg');
       background-size: cover;
       background-repeat: no-repeat;
    }
   