* {
    box-sizing: border-box;
}

html, body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    width:100%;
    height:100%;
}

a {
    list-style-type: none;
    text-decoration: none !important;
}

a.main-title {
    font-size: 35px;
    font-style: oblique;
    font-weight: bold;
}

button#add_btn {
    margin-top:5px;
    margin-bottom: 10px;
}

button#save_btn{
    margin-top: 10px;
}

div.jumbotron {
    background-image: url('/images/Home_Background.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 0;
}

div.container.main {
    padding: 50px 100px;
}

div.card-body.p-5 {
    background-image: url('/images/paper_texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

div.addRecipe {
    background-image: url('/images/pasta-background.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 84px;
    margin-left:0;
    font-family: 'Handlee', cursive;
    font-size: 25px;
    height:auto;
    width:100%;
    min-height: 100%;
}

div.recipe-container {
    margin-top:20px;
    margin-left:10px;
}

h5#add_recipe{
    font-size: 40px;
    padding-top:20px;
}

h6#ingredient_title {
    margin-top: 20px;
    font-size: 25px;
}

.jumbotron, .navbar {
    font-family: 'Handlee', cursive;
}

label.nomargin {
    margin-bottom: 0em
}

li {
    color: black;
    font-size: 30px;
}

.recipeInfo {
    margin-top: 83px;
    font-family: 'Handlee', cursive;
    margin-left: 10px;
    color:black;
    min-height:100%;
    width:100%;
}

h1.recipeTitle {
    padding-top: 20px;
}

div.wallpaper {
    background-image: url('/images/recipe-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    width:100%;
}

u {
    font-size: 35px;
    color: black;
}

ul#recipe_item {
    list-style: none;
    padding-left: 0;
}